# Editor Files and Folders

.idea/
.vscode/
.DS_Store
*~
\#*#

# Build Files and Binaries

*.log
*.o
*.so
*.dll
*.dylib
cmake-build-*/
*build/
*build_tests/
IO_Tester
unit_tests

# Documentation Generation Files

doc/latex/
doc/html/